*

!.github/
!.github/workflows/
!.github/workflows/ci.yml

!patches/
!patches/*.patch

!src/
!src/**/*.mjs
!src/**/*.d.ts

!.editorconfig
!.gitattributes
!.gitignore
!LICENSE-APACHE
!LICENSE-MIT

!biome.jsonc
!package.json
!pnpm-lock.yaml
!README.md
